@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,500;1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Mono", sans-serif;
  color: #252525;
  font-weight: 400;
  background-color: #f7f2e9;

  /* padding: 0; */
}
.Box {
  width: 100%;
  padding-bottom: 5rem;
  /* margin: auto 7rem; */
  /* padding: auto 7rem; */
}
.container {
  max-width: 80rem;
  margin: 0 auto;
  margin-top: 4rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4.8rem;
  font-size: 1.5rem;
}
.navBar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  gap: 30rem;

  background-color: #00ffb3;
  height: 4rem;
  padding: 0 3.3rem;
  border-radius: 0.8rem;
  /* width: 100%; */
}
.logo {
  display: flex;
  flex-direction: row;
  font-size: 3rem;
  gap: 1rem;

  color: #f7f2e9;
}
.logo span {
  font-size: 2.5rem;
}
.search {
  justify-self: center;
  width: 30rem;
  padding: 0.8rem 0.5rem;
  border-radius: 0.8rem;
  border: 0;
  outline: 0;
  font-size: 1.2rem;
}
.search::placeholder {
  color: #252525;
}
.search:focus {
  padding: 0.8rem 0.5rem;
  color: #252525;
  background-color: #f7f2e9;
}
.bars {
  /* padding: 0 10rem; */
  font-size: 1.2rem;

  cursor: pointer;
  width: 7rem;
  height: 3rem;
  border: none;
}
.bars img {
  width: 7rem;
  height: 3rem;
  background: transparent;
  background-image: none;

  border-radius: 0.9rem;
}

.btn {
  align-self: flex-start;
  padding: 0.8rem 1.5rem;
  font-size: 1.2rem;
  background-color: #00ffb3;
  color: #ffffff;
  border: none;
}
.btn:hover {
  cursor: pointer;
  background: #00ffa6f3;
}

.movieBox {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
}
.movieBox ul {
  list-style-type: none;
}
.movie-list {
  display: flex;
  gap: 3rem;
}
.movieBox h2 {
  text-wrap: wrap;
  font-size: 2rem;
}
.movie-list img {
  width: 12rem;
  align-self: self-start;
  height: 8rem;
}
.movie-list div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
